$font-family-sans-serif: 'Montserrat',
sans-serif;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$primary: #6d3923;
$secondary: #be9e68;
$theme-colors: ("primary": $primary,
   "secondary": $secondary,
);

$navbar-light-toggler-border-color: transparent;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;